src/main/mule/salesforce-party-event-listener.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- Webhook endpoint for Person Account Events from Salesforce -->
  <flow name="person-account-event-listener" doc:name="person-account-event-listener">
    <http:listener doc:name="POST /events/person-account" config-ref="HTTP_Listener_config" path="/events/person-account" allowedMethods="POST"/>
    
    <logger level="INFO" message="Received Person Account event from Salesforce: #[payload]" doc:name="Log Event"/>
    
    <try doc:name="Try">
      <ee:transform doc:name="Transform to Customer Update Message">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var event = payload
---
{
  eventType: "customer.update",
  customerId: event.Id default event.id,
  customerNumber: event.AccountNumber default event.accountNumber,
  firstName: event.FirstName default event.firstName,
  lastName: event.LastName default event.lastName,
  email: event.PersonEmail default event.personEmail,
  phone: event.Phone default event.phone,
  taxId: event.TaxId__c default event.taxId,
  status: event.Status__c default event.status default "Active",
  timestamp: now()
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <anypoint-mq:publish doc:name="Publish to Party Roles Topic" config-ref="Anypoint_MQ_Config" destination="Party Roles Topic">
        <anypoint-mq:body><![CDATA[#[payload]]]></anypoint-mq:body>
      </anypoint-mq:publish>

      <logger level="INFO" message="Published customer update to Party Roles Topic" doc:name="Log Success"/>
      
      <ee:transform doc:name="HTTP Response" doc:id="04694df4-b9b1-471d-b2fc-dbf1aa2c9060" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0

output application/json

---

{

  status: "success",

  message: "Event processed successfully"

}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus" ><![CDATA[200]]></ee:set-variable>
				</ee:variables>
			</ee:transform>

      <error-handler>
        <on-error-continue type="ANYPOINT-MQ:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="MQ Error">
          <logger level="ERROR" message="Error publishing to MQ: #[error.description]" doc:name="Log MQ Error"/>
					<ee:transform doc:name="HTTP Response" doc:id="06300d37-e5e0-484c-a37a-9eb8b596e986" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0

output application/json

---

{

  status: "error",

  message: "Failed to publish event to MQ"

}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
        </on-error-continue>
      </error-handler>
    </try>
  </flow>

  <!-- Webhook endpoint for Contact Events from Salesforce -->
  <flow name="contact-event-listener" doc:name="contact-event-listener">
    <http:listener doc:name="POST /events/contact" config-ref="HTTP_Listener_config" path="/events/contact" allowedMethods="POST"/>
    
    <logger level="INFO" message="Received Contact event from Salesforce: #[payload]" doc:name="Log Event"/>
    
    <try doc:name="Try">
      <ee:transform doc:name="Transform to Individual Update Message">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/json
var event = payload
---
{
  eventType: "individual.update",
  contactId: event.Id default event.id,
  firstName: event.FirstName default event.firstName,
  lastName: event.LastName default event.lastName,
  email: event.Email default event.email,
  phone: event.Phone default event.phone,
  accountId: event.AccountId default event.accountId,
  timestamp: now()
}]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <anypoint-mq:publish doc:name="Publish to Parties Topic" config-ref="Anypoint_MQ_Config" destination="Parties Topic">
        <anypoint-mq:body><![CDATA[#[payload]]]></anypoint-mq:body>
      </anypoint-mq:publish>

      <logger level="INFO" message="Published individual update to Parties Topic" doc:name="Log Success"/>

      <ee:transform doc:name="HTTP Response" doc:id="5394500c-b0f9-42c2-9bef-719b82ec4136" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0

output application/json

---

{

  status: "success",

  message: "Event processed successfully"

}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus" ><![CDATA[200]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<error-handler>
        <on-error-continue type="ANYPOINT-MQ:CONNECTIVITY" enableNotifications="true" logException="true" doc:name="MQ Error">
          <logger level="ERROR" message="Error publishing to MQ: #[error.description]" doc:name="Log MQ Error"/>
					<ee:transform doc:name="HTTP Response" doc:id="56c2ddac-99aa-4168-adc6-c93d4292a78b" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0

output application/json

---

{

  status: "error",

  message: "Failed to publish event to MQ"

}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
        </on-error-continue>
      </error-handler>
    </try>
  </flow>

</mule>

